<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="/assets/CSS/styling1.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">        
        <title>
            Post List Page
        </title>
    </head>
    <body>
        <nav class="nav">
            <a href="index" class="anchor">Go To Home</a>                    
            </nav>
        <div class="operationresultarea">
            <h3>Operation Result Area</h3>            
            <table class="table1" border="2">
                <tr>
                    <th colspan="1">Blog Post Items</th>
                </tr>
                <% blogs.forEach(function(blogitem){%> 
                    <tr>
                        <td>
                            <%= blogitem.title %>
                        </td>
                    </tr>
                <% }); %>
            </table> 
        </div>
    </br>
    <table class="table2" border="2">
        <tr>
            <th>
                PostTitle
            </th>
            <th colspan="3">
                Operations
            </th>        
        </tr>
        <% blogs.forEach(function(blogitem){%>
            <tr>
                <td>
                    <%= blogitem.title %>
                </td>
                <td>
                    <a href="<%= blogitem.viewlink %>" class="fa fa-eye" style="font-size:24px; color: black;">                
                </td>
                <td>
                    <a href="<%= blogitem.editlink %>" class="fa fa-edit" style="font-size:24px; color: black";>
                </td>
                <td>
                <a href="<%= blogitem.deletelink %>"  class="fa fa-trash" style="font-size:24px; color: black";>
                </td>                
            </tr> 
          <% }); %>        
    </table>
    </body>
</html>